<form [formGroup]="formProfessor" (ngSubmit)="onSubmit()">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Formulario de professores</strong>
      </div>
      <div class="card-body">
        <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID</label>
          <div class="col-md-9">
            <p class="form-control-static">--</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nome">Nome</label>
          <div class="col-md-9">
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Insira o nome"
              formControlName="nome">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="sobrenome">Sobrenome</label>
          <div class="col-md-9">
            <input type="text" id="sobrenome" name="sobrenome" class="form-control" placeholder="Insira o sobrenome"
              formControlName="sobrenome">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="email">Email</label>
          <div class="col-md-9">
            <input type="email" id="email" name="email" class="form-control" placeholder="Insira o email"
              autocomplete="email" formControlName="email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="senha">Senha</label>
          <div class="col-md-9">
            <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha"
              autocomplete="current-password" formControlName="senha">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="senha">CPF</label>
          <div class="col-md-9">
            <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF" formControlName="cpf">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="dataNascimento">Data nascimento</label>
          <div class="col-md-9">
            <input class="form-control" id="dataNascimento" type="date" name="dataNascimento"
              placeholder="Data nascimento" formControlName="dataNascimento">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="senha">Endereco</label>
          <div class="col-md-9">
            <input type="text" id="endereco" name="endereco" class="form-control" placeholder="Endereco"
              formControlName="endereco">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="senha">Telefone 1</label>
          <div class="col-md-9">
            <input type="text" id="telefone1" name="telefone1" class="form-control" placeholder="Telefone 1"
              formControlName="telefone1">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="senha">Telefone 2</label>
          <div class="col-md-9">
            <input type="text" id="telefone2" name="telefone2" class="form-control" placeholder="Telefone 2"
              formControlName="telefone2">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="senha">Formacao</label>
          <div class="col-md-9">
            <input type="text" id="formacao" name="formacao" class="form-control" placeholder="Insira a formacao"
              formControlName="formacao">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- <button type="submit" class="btn btn btn-primary" routerLink="/cadastro/lista-professores"><i
            class="fa fa-check"></i> -->
          <button type="submit" class="btn btn btn-primary"><i
            class="fa fa-check"></i>
          Salvar</button>
        <!-- <i class="fa fa-dot-circle-o"></i>"  -->
        <button type="reset" class="btn btn btn-danger" routerLink="/cadastro/lista-professores"><i class="fa fa-ban"></i>
          Cancelar</button>
      </div>
    </div>
    {{formProfessor.value | json}}
  </div>
</form>