<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Adicionar nova aula</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="formAula">

        <div formArrayName="professores">
            <h3>Aliases</h3> <button (click)="addProfessor()">Add Alias</button>
          
            <div *ngFor="let address of aliases.controls; let i=index">
              <!-- The repeated alias template -->
              <label>
                Alias:
                <input type="text" [formControlName]="i">
              </label>
            </div>
          </div>



      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="disciplina">Disciplina</label>
        <div class="col-md-9">
          <ng-select [items]="disciplinaOp" [selectOnTab]="true" bindValue="value" labelForId="disciplina"
            placeholder="Selecione a disciplina" formControlName="disciplina">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="horaInicio">Hora de inicio</label>
        <div class="col-md-9">
          <input type="time" id="horaInicio" name="horaInicio" class="form-control" placeholder="Horario de inicio"
            formControlName="horaInicio">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="horaFim">Hora de fim</label>
        <div class="col-md-9">
          <input type="time" id="horaFim" name="horaFim" class="form-control" placeholder="Horario de fim"
            formControlName="horaFim">
        </div>
      </div>
      {{formAula.value | json}}
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="adicionaAula()">Salvar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
  </div>
</ng-template>



<form [formGroup]="formTurma" (ngSubmit)="onSubmit()">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Formulario de Turma</strong>
      </div>
      <div class="card-body">
        <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID</label>
          <div class="col-md-9">
            <p class="form-control-static">--</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nome">Nome</label>
          <div class="col-md-9">
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Insira o nome da turma"
              formControlName="nome" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="local">Local</label>
          <div class="col-md-9">
            <input type="text" id="local" name="local" class="form-control" placeholder="Insira a localizacao da turma"
              formControlName="local">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="dataInicio">Data Inicio</label>
          <div class="col-md-9">
            <input type="date" id="dataInicio" name="dataInicio" class="form-control"
              placeholder="Descricao da do curso" formControlName="dataInicio">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="curso">Curso</label>
          <div class="col-md-9">
            <ng-select [items]="cursoOp" [selectOnTab]="true" bindValue="value" labelForId="curso"
              placeholder="Selecione o curso" formControlName="curso">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-user"></i> Alunos da turma
              </div>
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-12">
                    <ng-select #agesSelect (change)="adicionaAluno($event)" [items]="alunosOp" [selectOnTab]="true"
                      bindValue="value" labelForId="alunos" placeholder="Procure por alunos">
                    </ng-select>
                  </div>
                </div>
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>RA</th>
                      <th>CPF</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let aluno of alunosCad; let i = index">
                      <td>{{aluno.id}}</td>
                      <td>{{aluno.nome}}</td>
                      <td>{{aluno.RA}}</td>
                      <td>{{aluno.cpf}}</td>
                      <td><button id="{{i}}" type="button" class="btn btn-sm btn-ghost-danger"
                          (click)="removeAluno($event)"><i id="{{i}}" class="icon-close"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-table"></i> Aulas da turma
              </div>
              <div class="card-body">
                <button type="button" class="btn btn btn-primary" (click)="openVerticallyCentered(content)">
                  Nova Aula + </button>
                <hr>
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Hora de inicio</th>
                      <th>Hora de termino</th>
                      <th>Professor</th>
                      <th>Disciplina</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let aula of aulasCad; let i = index">
                      <td>{{i}}</td>
                      <td>{{aula.horaInicio}}</td>
                      <td>{{aula.horaFim}}</td>
                      <td>{{aula.professores[0].nome}}</td> <!-- Ver oque devo fazer nessa linha-->
                      <td>{{aula.disciplina.nome}}</td>
                      <td><button id="{{i}}" type="button" class="btn btn-sm btn-ghost-danger"
                          (click)="removeAulas($event)"><i id="{{i}}" class="icon-close"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn btn-primary" routerLink="/cadastro/lista-turmas"><i
            class="fa fa-check"></i>
          Salvar</button>
        <button type="reset" class="btn btn btn-danger" routerLink="/cadastro/lista-turmas"><i class="fa fa-ban"></i>
          Cancelar</button>
      </div>
    </div>
    {{formTurma.value | json}}

    Form Status: {{ formTurma.status }}
  </div>
</form>