<form [formGroup]="formTurma" (ngSubmit)="onSubmit()">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Formulario de Turma</strong>
      </div>
      <div class="card-body">
        <!-- <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"> -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID</label>
          <div class="col-md-9">
            <p class="form-control-static">--</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="nome">Nome</label>
          <div class="col-md-9">
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Insira o nome da turma"
              formControlName="nome">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="local">Local</label>
          <div class="col-md-9">
            <input type="text" id="local" name="local" class="form-control" placeholder="Insira a localizacao da turma"
              formControlName="local">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="dataInicio">Data Inicio</label>
          <div class="col-md-9">
            <input type="date" id="dataInicio" name="dataInicio" class="form-control"
              placeholder="Descricao da do curso" formControlName="dataInicio">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="curso">Curso</label>
          <div class="col-md-9">
            <ng-select [items]="cursoOP" [selectOnTab]="true" bindValue="value" labelForId="curso"
              placeholder="Selecione o curso" formControlName="curso">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Alunos da turma
              </div>
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-12">
                    <ng-select #agesSelect (change)="adicionaAluno($event)" [items]="alunosOp" [selectOnTab]="true"
                      bindValue="value" labelForId="alunos" placeholder="Procure por alunos">
                    </ng-select>
                  </div>
                </div>
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>         
                      <th>#</th>             
                      <th>ID</th>
                      <th>Nome</th>
                      <th>RA</th>
                      <th>CPF</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let aluno of alunosCad; let i = index">
                      <td>{{i}}</td>
                      <td>{{aluno.id}}</td>
                      <td>{{aluno.nome}}</td>
                      <td>{{aluno.RA}}</td>
                      <td>{{aluno.cpf}}</td>
                      <td><button type="button" class="btn btn-sm btn-ghost-danger" (click)="removeAluno()"><i
                            class="icon-close"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Aulas da turma
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Hora de inicio</th>
                      <th>Hora de termino</th>
                      <th>Professor</th>
                      <th>Disciplina</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let aula of aulas">
                      <td>{{aula.id}}</td>
                      <td>{{aula.horaInicio}}</td>
                      <td>{{aula.horaFim}}</td>
                      <td>{{aula.professores[0]}}</td> <!-- Ver oque devo fazer nessa linha-->
                      <td>{{aula.disciplina.nome}}</td>
                      <td><button type="button" class="btn btn-sm btn-ghost-danger" (click)="removeAluno()"><i
                            class="icon-close"></i></button>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn btn-primary" routerLink="/cadastro/lista-turmas"><i
            class="fa fa-check"></i>
          Salvar</button>
        <button type="reset" class="btn btn btn-danger" routerLink="/cadastro/lista-turmas"><i class="fa fa-ban"></i>
          Cancelar</button>
      </div>
    </div>
    {{formTurma.value | json}}
  </div>
</form>